.explore-search-bottom-line {
  border-bottom: 1px solid var(--deep-grey);
  height: 5rem;
  margin: 0;
}

.trending-tag {
  max-width: 100%;
  height: auto;
}

.explore-who-to-follow {
  margin-top: 0.5rem;
}

.explore-page-middle {
  flex: 1;
  max-width: 35rem;
}
