.highlights-container {
    height: auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-top: 1px solid var(--deep-grey);
    padding: 3rem 2rem 4rem 2rem;
}

.highlights-container h1, .highlights-container p, .highlights-container button {
    margin: 0;
}

.highlights-container h1 {
    padding-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.highlights-container p {
    color: var(--deep-grey);
    padding: 1rem 0 1rem 0;
    text-align: left;
}

.highlights-container button {
    padding: .7rem 1rem;
    border: 1px solid var(--white);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    color: var(--black);
    border-radius: 20px;
    margin-bottom: 2rem;
}

.mediapost-image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin: 0;
}

.extra-media-class {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
}


