@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
  font-family: 'Grandslang Roman';
  src: url('../assets/fonts/grandslang-roman.otf') format('opentype');
}

@font-face {
  font-family: 'Segoe UI';
  src: url(../assets/fonts/segoeuithis.ttf);
}

@font-face {
  font-family: 'Segoe UI bold';
  src: url(../assets/fonts/segoeuithibd.ttf);
}

:root {
  --light-grey: #d1d1cf;
  --beige: #f8ddaf;
  --plum: #e5a2f3;
  --blue: #3956f1;
  --black: rgb(0,0,0);
  --white: rgb(231, 233, 234);
  --blue: rgb(29, 155, 240);
  --deep-grey: rgb(113, 118, 123);
}

#root {
  height: 100%;
}

body, html {
  font-family: 'Segoe UI';
  margin: 0;
  height: 100%;
  color: var(--white);
  background-color: var(--black);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.opacity:hover {
  opacity: .7;
}

a {
  text-decoration: none;
}

a:hover, a:visited {
  text-decoration: none;
}

.sign-up-container {
  background-color: var(--black);
  height: 100%;
}

.inner-container {
  gap: 15rem;
  margin: 0 auto;
  padding-left: 5rem;
  height: 100%;
}

.main-images-container {
  margin: auto 0;
}

.main-page-main-image {
  width: 21rem;
  height: auto;
}

.header {
  font-size: 4rem;
  letter-spacing: -1.2px;
  font-family: 'Segoe UI bold';
  padding-bottom: 3rem;
  margin: 0;
}

.join-today {
  font-size: 2rem;
  font-family: 'Segoe UI bold';
  padding-bottom: 2rem;
  margin: 0;
}

.icon-header-container {
  width: 100%;
  height: fit-content;
  margin: 0;
  text-align: left;
  margin: auto 0;
}

.auth-container {
  width: fit-content;
}

.google-logo {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.new-acc-link, .google-btn {
  border-radius: 10px;
  width: 100%;
  padding: .5rem 0;
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--blue);
  color: var(--white);
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;
  padding: .1rem 0;
  background-color: transparent;
}

.new-acc-link a {
  color: var(--white);
}

.no-top-margin {
  margin-top: 0;
}

.new-acc-link:hover {
  background-color: rgb(26, 140, 216);
  color: var(--white);
}

.new-acc-link a:visited {
  color: var(--white);
}

.or-border {
  align-items: center;
}

.or-divider {
  border: 1px solid rgb(87, 87, 87);
  width: 100%;
}

.or-border h3 {
  padding: 0 1rem 0 1rem;
}

.terms-of-service {
  font-size: .8rem;
}

.small-letters {
  color: var(--blue);
}
.small-letters:hover {
  cursor: pointer;
}

.small-letters:hover {
  text-decoration: underline;
}

.have-acc-question {
  margin-top: 3rem;
}

.old-acc-link {
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  width: 100%;
  padding: .5rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.old-acc-link a {
  color: rgb(29, 155, 240);
}

.old-acc-link a:visited {
  color: rgb(29, 155, 240);
}

.old-acc-link:hover {
  background-color: rgba(29,155,240,0.1);
  cursor: pointer;
}

/* FOOTER */

.footer {
  justify-content: center;
  bottom: 0;
  margin: 0 auto;
  padding: 0 2rem 1rem 2rem;
}

.links-footer-container {
  flex-wrap: wrap;
  justify-content: center;
}

.link-footer {
  display: inline-block;
  margin: 0;
  font-size: 13px;
  color: var(--deep-grey);
  overflow-wrap: break-word;
  margin-bottom: 4px;
  margin-top: 4px;
}

.link-footer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link-footer-text {
  padding-right: 1rem;
}

/* SIGNUP PAGE */

.register-container {
  background-color: var(--black);
  height: 100%;
  color: var(--white);
  margin: 0 auto;
}

.back-button {
  width: 8rem;
  margin-top: 2rem;
}

.signup-button {
  background-color: transparent;
  color: var(--blue);
}

.create-account-container {
  border-right: 1px solid black;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  padding-right: 2rem;
}

.create-account-container h1 {
  font-size: 4rem;
  margin: 0;
}

.create-account-container p {
  font-size: 1.3rem;
}

.form-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding-left: 2rem;
}

.form-container h2 {
  font-size: 2rem;
}

.form {
  width: 60%;
  height: auto;
}

.form p {
  font-size: .9rem;
}

.form input, .form-login input {
  height: 2rem;
  margin-bottom: 1.2rem;
  border-radius: 7px;
  border: 1px solid var(--deep-grey);
  font-size: 1rem;
  background-color: transparent;
  padding: .5rem .5rem;
  color: var(--white);
}

.form input:focus, .form-login input:focus{
  outline: none;
  border-color: #007bff;
}

.policy {
  font-weight: bold;
  color: var(--blue);
  font-size: .9rem;
}

.contact-support {
  border-top: 1px solid black;
  margin: 2rem 0;
  padding-top: 1rem;
  width: 60%;
  font-size: .9rem;
}

/* SIGN IN PAGE */

.login-center {
  margin: 0 auto;
  height: 100%;
}

.form-login-container {
  height: 100%;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.form-login {
  width: 100%;
}

.actual-form-login {
  gap: 2rem;
}

.actual-form-login input {
  width: 95%;
}

.login-signing-button {
  height: 3rem;
}

.email-input-login {
  background-color: white;
  width: 100%;
}

.login-google-button {
  margin-bottom: 2rem;
}

.or-border-container {
  width: 100%;
  height: 100%;
  align-items: center;
}

.or-border-line {
  border-top: 1px solid var(--deep-grey);
  width: 10rem;
  margin-left: 8px;
  margin-right: 8px;
}

/* HOME */

.home-container {
  height: 100%;
  background-color: var(--light-grey);
  justify-content: center;
  overflow: scroll;
}

.links-container {
  border-right: 1px solid black;
  width: fit-content;
  height: 100%;
  gap: 2rem;
  padding: 1rem 5rem 0 9rem;
  position: sticky;
  top: 0;
}

.nav-links {
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.3rem;
} 

.nav-img {
  width: 1.7rem;
  height: 1.7rem;
}

.nav-links-container {
  justify-content: flex-start;
  margin: 0;
  gap: .5rem;
}

.main-user-icon {
  width: 3rem;
  align-self: flex-start;
}

.new-post-btn {
  width: 100%;
  padding: .5rem 1.5rem;
  border: 1px solid black;
  align-self: flex-start;
  text-align: center;
}

.new-post-btn:hover {
  background-color: black;
  color: var(--light-grey);
}

.profile-center {
  width: 100%;
  height: 100%;
  margin-right: 4rem;
}

.profile-right {
  width: 100%;
  margin-top: 2rem;
  margin-right: 8rem;
  width: 30%;
  position: sticky;
  top: 0;
}

.no-bullets {
  list-style-type: none;
}

.terms-list {
  gap: 1rem;
  border-top: 1px solid black;
  width: 104%;
  height: auto;
  padding-left: 0;
}

.terms-list li {
  padding: 1rem .5rem 1rem 0;
  font-size: 1rem;
  letter-spacing: 1px;
}

.terms-list li:first-child {
  padding-left: 1rem;
}

.terms-list li:last-child {
  padding-right: 2rem;
}

.terms-list li:hover {
  text-decoration: underline;
}

.more-feed-links {
  gap: .5rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  width: 100%;
  border-top: 1px solid black;
  padding-left: 1rem;
  padding-top: 1rem;
  height: auto;
}

.more-feed-links .feed-link:hover {
  text-decoration: underline;
}

.header-and-mini-header {
  align-content: center;
  gap: .3rem;
}

.header-and-mini-header h1 {
  margin-bottom: 0;
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  font-style: normal;
}

.mini-header {
  justify-content: flex-start;
  margin-top: 1rem;
  width: 3rem;
  height: auto;
}

.mini-header-btns-container {
  border-bottom: 1px solid black;
  width: 100%;
  border-right: 1px solid black;
}

.mini-header-btn {
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  width: 100%;
}

.mini-header-btn:hover {
  background-color: white;
}

.mini-header-btn:active {
  text-decoration: underline;
  font-weight: bolder;
}

/* single post style */

.post {
  border-bottom: 1px solid black;
  width: 100%;
  height: auto;
  border-right: 1px solid black;
}

.profile-pic {
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px 10px; 
}

.post-icons-container {
  margin-top: 1rem;
  width: 100%;
  justify-content: space-between;
}

.post-icon {
  width: 1.5rem;
}

.save-icons {
  gap: .7rem;
  align-content: center;
}

.post-box {
  height: fit-content;
  width: 100%;
  margin: 10px 20px 10px 0; 
}

.post-image {
  width: 35rem;
  height: auto;
}

.link-to-profile {
  padding-bottom: 5px;
}

.user-name {
  font-weight: bolder;
}

.username-name {
  font-weight: lighter;
  color: rgb(52, 51, 51);
}

/* MOBILE VERSION */

@media (max-width: 768px) {
  .main-page-main-image {
    width: 7rem;
    padding-top: 3rem;
  }

  .sign-up-container {
    height: 100%;
    gap: 3rem;
  }

  .inner-container {
    flex-wrap: wrap;
    gap: 3rem;
  }

  .header {
    font-size: 3rem;
  }

  .join-today {
    font-size: 1.5rem;;
  }

  /* Signup Page */

  .register-container {
    flex-direction: column;
    align-items: center;
  }

  .create-account-container {
    justify-content: flex-end;
    width: 100%;
  }

  .form {
    width: 90%;
  }

}

