@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@font-face {
  font-family: 'Grandslang Roman';
  src: url('../assets/fonts/grandslang-roman.otf') format('opentype');
}

@font-face {
  font-family: 'Segoe UI';
  src: url(../assets/fonts/segoeuithis.ttf);
}

:root {
  --offwhite: #DDDDDD;
}

#root {
  height: 100%;
}

body, html {
  margin: 0;
  height: 100%;
  color: black;
}

h1, h2, h3, h4 {
  font-family: Grandslang Roman, sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, a:visited {
  text-decoration: none;
  color: black;
}

.sign-up-container {
  background-color: var(--offwhite);
  height: 100%;
  justify-content: space-between;
}

.butterfly-icon {
  width: 5rem;
  height: auto;
}

.icon-header-container {
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

footer {
  justify-content: center;
  padding: 1rem 2rem;
  border-top: 1px solid black;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  text-decoration: line-through;
}

.icon-header-container p {
  font-size: 1.2rem;
}

.icon-header-container h1, p {
  margin: 0;
}

.icon-header-container p, h1 {
  padding: .5rem 0; 
}

.new-acc-link {
  border: 1px solid black;
  border-radius: 10px;
  width: fit-content;
  padding: .5rem 2rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.new-acc-link:hover {
  background-color: black;
  color: var(--offwhite);
}

/* SIGNUP PAGE */

.register-container {
  background-color: var(--offwhite);
  height: 100%;
}

.create-account-container {
  border-right: 1px solid black;
  width: 60%;
  justify-content: center;
  align-items: flex-end;
  padding-right: 2rem;
}

.create-account-container h1 {
  font-size: 4rem;
  margin: 0;
}

.create-account-container p {
  font-size: 1.3rem;
}

.form-container {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2rem;
}

.form-container h2 {
  font-size: 2rem;
}

.form {
  width: 60%;
  height: auto;
}

.form input {
  height: 2rem;
  margin-bottom: 1.2rem;
  border-radius: 7px;
  border: 1px solid transparent;
  font-size: 1rem;
}

.form label {
  margin-bottom: .3rem;
}

.or {
  margin: 0;
  padding: 1rem 0;
}

.google-signup {
  padding-bottom: 1rem;
}

.policy {
  font-weight: bold;
}

.contact-support {
  border-top: 1px solid black;
  margin: 2rem 0;
  padding-top: 1rem;
  width: 60%;
}

/* SIGN IN PAGE */

.back-btn {
  border: 1px solid black;
  padding: .5rem 2rem;
  font-size: 1.1rem;
  margin-top: .5rem;
}

.back-btn:hover {
  background-color: white;
}

.or-login {
  margin: 0;
  padding-bottom: 1rem;
}

.login {
  margin-top: 1.2rem;
}

.email-input {
  background: url('../assets/icons/at.svg') no-repeat left;
  background-size: 20px;
  padding-left: 1.7rem;
  background-color: white;
  opacity: .6;
}

.password-input {
  background: url('../assets/icons/lock.svg') no-repeat left;
  background-size: 16px;
  padding-left: 1.7rem;
  background-color: white;
  opacity: .6;
}

/* HOME */

.home-container {
  height: 100%;
  background-color: var(--offwhite);
  justify-content: center;
}

.links-container {
  border-right: 1px solid black;
  width: fit-content;
  height: 100%;
  gap: 2rem;
  padding: 1rem 4rem 0 9rem;
}

.nav-links {
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.3rem;
} 

.nav-img {
  width: 1.7rem;
  height: 1.7rem;
}

.nav-links-container {
  justify-content: flex-start;
  margin: 0;
  gap: .5rem;
}

.main-user-icon {
  width: 3rem;
  align-self: flex-start;
}

.new-post-btn {
  width: fit-content;
  padding: .5rem 1.5rem;
  border: 1px solid black;
  align-self: flex-start;
}

.new-post-btn:hover {
  background-color: black;
  color: var(--offwhite);
}

.profile-center {
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
  margin-right: 2rem;
}

.profile-right {
  width: 100%;
  margin-top: 2rem;
  margin-right: 8rem;
  width: 30%;
}

.no-bullets {
  list-style-type: none;
}

.terms-list {
  gap: 1rem;
  border-top: 1px solid black;
  width: 104%;
  height: auto;
  padding-left: 0;
}

.terms-list li {
  padding: 1rem .5rem 1rem 0;
  font-size: 1rem;
  letter-spacing: 1px;
}

.terms-list li:first-child {
  padding-left: 1rem;
}

.terms-list li:last-child {
  padding-right: 2rem;
}

.terms-list li:hover {
  text-decoration: underline;
}

.more-feed-links {
  gap: .5rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  width: 100%;
  border-top: 1px solid black;
  padding-left: 1rem;
  padding-top: 1rem;
  height: auto;
}

.more-feed-links .feed-link:hover {
  text-decoration: underline;
}

.mini-header {
  justify-content: center;
  margin-top: 1rem;
}

.mini-header img {
  width: 3rem;
  height: auto;
}

.mini-header-btns-container {
  border-bottom: 1px solid black;
}

.mini-header-btn {
  padding: 1rem 1rem;
  letter-spacing: .1rem;
  font-size: 1.2rem;
}

.mini-header-btn:hover {
  background-color: white;
}

.mini-header-btn:active {
  text-decoration: underline;
}

/* single post style */

.post {
  border-bottom: 1px solid black;
  width: 100%;
  height: auto;
}

.profile-pic {
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px 10px; 
}

.post-icons-container {
  gap: 1rem;
}

.post-icon {
  width: 1.5rem;
}

.post-box {
  height: fit-content;
  width: 100%;
  margin: 10px 10px 10px 0; 

}

.post-image {
  width: 35rem;
  height: auto;
}