.messages-container {
  max-width: 100%;
  margin: 0;
}

.messages-profile-page {
  height: 100%;
}

.message-svg {
  color: rgb(239, 243, 244);
  padding: 1re 1rem;
  border-radius: 50%;
}

.message-svg:hover {
  background-color: var(--borders);
}

.messages-container header {
  max-width: 100%;
  align-items: center;
  margin: 1rem 1rem;
  justify-content: space-between;
}

h1,
h2 {
  margin: 0;
}

.messages-container header h2 {
  font-size: 1.3rem;
  font-weight: 300;
}

.message-welcome {
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.message-welcome h1 {
  margin: 0 1rem;
}

.message-welcome div {
  color: var(--deep-grey);
  margin: 0.5rem 1rem;
}

.write-message {
  align-self: center !important;
}

.no-left-border {
  border-left: none;
}

/* POPUP NEW MESSAGE WINDOW */

.message-popup-container {
  width: 100%;
  max-width: 600px;
  padding: 1rem 1rem;
  justify-content: flex-start;
}

.message-window-header {
  justify-content: space-between;
  align-items: center;
}

.svg-btn-message-popup {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  padding: 0;
}

.svg-btn-message-popup:hover {
  background-color: var(--borders);
}

.h2-svg-message-popup {
  align-items: center;
  gap: 3rem;
}

.next-btn-message-popup {
  background-color: var(--deep-grey);
  min-width: 32px;
  min-height: 32px;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  border: none;
  font-weight: bold;
}

.create-group-container {
  background-color: transparent;
}
