/* tooltip.css */
.tooltip {
  background-color: var(--black);
  padding: 10px;
  z-index: 1000;
  box-shadow:
    rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
  border-radius: 5px;
  max-width: 20rem;
  width: fit-content;
  height: auto;
}

.tooltip-content {
  display: flex;
  align-items: flex-start;
}

.tooltip-profile-pic {
  margin-left: 0 !important;
}

.tooltip-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.tooltip-name {
  font-weight: bold;
}

.tooltip-username {
  color: var(--deep-grey);
}

.tooltip-following-info {
  gap: 0.7rem;
}

.tooltip-following-count {
  color: var(--white);
}

.tooltip-bio {
  color: var(--white);
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
