.profile-container {
    margin: 0;
    margin-right: 2rem;
    border-right: 1px solid var(--deep-grey);
    flex: 1;
}

.profile-container header {
    gap: 1.2rem;
    margin-bottom: .5rem;
}

.profile-icon-back {
    align-items: center;
}

.profile-icon-back img {
    width: 2rem;
    height: 2rem;
    padding: .5rem .5rem .5rem 1rem;
    border-radius: 50%;
}

.profile-icon-back img:hover {
    background-color: var(--opacity);
}

.profile-header-name {
    justify-content: flex-start;
}

.profile-header-name h2 {
    margin: 0;
    font-size: 1.2rem;
    cursor: pointer;
}

.profile-header-name span {
    color: var(--deep-grey);
    cursor: pointer;
    font-size: .9rem;
}

.background-image-holder {
    width: 100%;
    margin: 0;
    padding: 0;
}

.background-image-holder img {
    width: 600px;
    height: 200px;
}

.profile-photo-container {
    height: fit-content;
    justify-content: space-between;
}

.profile-photo-container img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 3px solid var(--black);
    bottom: 50px;
    position: absolute;
    bottom: 60%;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.profile-photo-container img:hover {
    opacity: 0.8; 
    filter: brightness(0.8);
    cursor: pointer;
}

svg {
    color: rgb(239, 243, 244);
}

.subscribe-btn {
    border-color: rgb(201, 54, 204); 
    background-color: rgb(201, 54, 204);
    color: var(--white);
    font-weight: 500;
    font-size: 1.1rem;
    padding: .4rem 1rem;
}

.subscribe-btn:hover {
    background-color: rgb(181, 49, 184);
}

.subscribe-panel {
    justify-content: flex-end;
}