.profile-container {
    margin: 0;
    margin-right: 2rem;
    border-right: 1px solid var(--deep-grey);
    border-left: 1px solid var(--deep-grey);
    flex: 1;
    height: 40rem;
}

.profile-page {
    overflow: scroll;
    position: fixed;
}

.profile-page .links-container {
    border-right: none; 
}

.profile-page .profile-right {
    position: sticky;
}

.profile-container header {
    gap: 1.2rem;
    margin-bottom: .5rem;
}

.profile-icon-back {
    align-items: center;
}

.profile-icon-back img {
    width: 2rem;
    height: 2rem;
    margin-left: .5rem;
    padding: .3rem .3rem;
    border-radius: 50%;
}

.profile-icon-back img:hover {
    background-color: var(--opacity);
}

.profile-header-name {
    justify-content: flex-start;
}

.profile-header-name h2 {
    margin: 0;
    padding-top: .4rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.profile-header-name span {
    color: var(--deep-grey);
    cursor: pointer;
    font-size: .9rem;
}

.background-image-holder {
    width: 100%;
    margin: 0;
    padding: 0;
}

.background-image-holder img {
    width: 600px;
    height: 200px;
}

.profile-photo-container {
    height: fit-content;
    justify-content: space-between;
    margin-left: 1rem;
}

.profile-photo-container img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 3px solid var(--black);
    position: absolute;
    bottom: 60%;
}

.profile-photo-container img:hover {
    cursor: pointer;
    filter: brightness(.9);
}

svg {
    color: rgb(239, 243, 244);
}

.subscribe-btn {
    border: 1px solid rgb(201, 54, 204);
    background-color: rgb(201, 54, 204);
    color: var(--white);
    font-weight: 500;
    font-size: 1.1rem;
    padding: .4rem 1rem;
}

.subscribe-btn:hover {
    background-color: rgb(181, 49, 184);
    cursor: pointer;
}

.subscribe-panel {
    justify-content: space-between;
    position: absolute;
    left: 51%;
    margin-top: .5rem;
    gap: .5rem;
}

.subscribe-panel svg {
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: .4rem .4rem;
}

.subscribe-panel svg:hover {
    background-color: var(--opacity);
    cursor: pointer;
}

.personal-info-section {
    height: fit-content;
    top: 40%;
    position: absolute;
    margin-top: 1rem;
}

.profile-user-name {
    font-weight: 600;
    font-size: 1.2rem;
}

.user-tag {
    color: var(--deep-grey);
    margin-bottom: 1rem;
}

.user-profile-description {
    margin-bottom: .5rem;
    margin-right: 1rem;
    width: 60%;
    text-overflow: unset;
    overflow-wrap: break-word;
}

.location-date-container {
    align-items: center;
    gap: 1rem;
    color: var(--deep-grey);
    font-size: 1rem;
}

.location-container svg {
    fill: var(--deep-grey);
    padding: 0;
}

.location-container {
    align-items: center;
    gap: .3rem;
    font-weight: lighter;
}

.following-container {
    gap: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.following-grey {
    color: var(--deep-grey);
    font-weight: lighter;
}

.following-number:hover {
    cursor: pointer;
    text-decoration: underline;
}

.followed-not {
    font-size: .8rem;
    color: var(--deep-grey);
    font-weight: lighter;
}

.profile-nav {
    margin: 0 0rem 1rem 0rem;
    top: 70%;
    position: absolute;
    justify-content: center;
    width: 41.7%;
    border-bottom: 1px solid var(--deep-grey);
}

.profile-nav-link {
    padding: 1rem 2rem;
}

.profile-nav .blue-underline {
    padding-bottom: 1rem;
}

.profile-nav .profile-nav-link:hover {
    background-color: var(--opacity);
}

.profile-post {
    position: absolute;
    top: 75%;
    width: 41%;
}

.profile-post .post {
    width: 101.5%;
    border-left: 1px solid var(--deep-grey);
}

.edit-profile-btn {
    width: fit-content;
    background-color: var(--black);
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 1rem;
    margin: .5rem 1rem 0 auto;
}

.edit-profile-btn:hover {
    cursor: pointer;
    background-color: var(--opacity);
}


